@model AuthorDto

@{
    ViewData["Title"] = "All authors";
}

@functions
{

    private string GetFullName()
    {
        return  $"{Model.FirstName} {Model.LastName}";
    }

}


<h4>Showing details for: @GetFullName()</h4>

<h6>Books authored by: @GetFullName()</h6>

<table class="centered striped">
    <thead>
    <tr>
        <th>ISBN</th>
        <th>Title</th>
        <th>Description</th>
        <th>Date Published</th>
        <th>Stock</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var book in Model.Books)
    {
        <tr>
            <td>@book.ISBN</td>
            <td>@book.Title</td>
            <td>@book.Description</td>
            <td>@if (book.DatePublished.HasValue)
                {
                    @book.DatePublished.Value
                }
            </td>
            <td>
                @if (book.Stock.HasValue)
                {
                    @book.Stock.Value
                }
            </td>
            <td>
                <a asp-action="Edit" asp-controller="Books" asp-route-id="@book.Id">Edit</a>
                
                
            </td>
        </tr>
    }
    </tbody>
</table>

<a class="waves-effect waves-light btn modal-trigger" href="#modal1">Modal</a>

<div id="modal1" class="modal">
    <div class="modal-content">
        <h4>Modal Header</h4>
        <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
</div>

@section Scripts
{
    <script>
        $(document).ready(function() {
            $('.modal').modal();
        });
    </script>
}
