@model AuthorDto

@{
    ViewData["Title"] = "Edit Author";
}

<h4>Edit Author</h4>

<div class="row">
    <form id="authorForm" asp-action="Edit" method="post">
        <div class="col s12 m9">
            <div class="card">
                <div class="card-content">
                    <div class="card-title">
                        Add details for the author
                    </div>
                    
                    <div class="row">
                        <div class="col s12 m6">
                            <input type="text" name="firstName" placeholder="First Name" asp-for="FirstName"/>
                        </div>
                        <div class="col s12 m6">
                            <input type="text" name="lastName" placeholder="Last Name" asp-for="LastName"/>
                        </div>
                        <div class="col s12 right-align">
                            <input type="submit" value="Create" class="btn btn-default"/>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col s12 m3">
            <div class="row" >
                <p>Books selected:</p>
                <div class="col s12" id="item-list" asp-for="Books">
                    @{
                        var i = 0;
                    }
                    @foreach (var book in Model.Books)
                    {
                        <div class="items">
                            <input class="isbn" type="hidden" name="Books[@i].ISBN" value="@book.ISBN"/>
                            <input class="description" type="hidden" name="Books[@i].Description" value="@book.Description" />
                            <input class="datePublished" type="hidden" name="Books[@i].DatePublished" value="@book.DatePublished" />
                            <input class="stock" type="hidden" name="Books[@i].Stock" value="@book.Stock" />
                            <div class="input-field">
                                <input type="text" class="title" name="Books[@i].Title" value="@book.Title" readonly="readonly"/>
                                <i class="deleteButton material-icons prefix" style="margin-top:10px; font-size:18px; cursor: pointer">close</i>
                            </div>
                        </div>
                        i++;
                    }
                </div>
            </div>
        </div>
    </form>
    <div class="col s12 m9">
        <div class="card">
            <div class="card-content">
                <div class="row">
                    <div class="col s12">
                        <div class="card-title">
                            Add books to this author
                        </div>
                    </div>
                    <div class="input-field col s12 m9">
                        <i class="material-icons prefix" style="margin-top:10px">search</i>
                        <input type="text" id="autocomplete-input" class="autocomplete" autocomplete="off">
                        <label for="autocomplete-input">Search books</label>
                    </div>
                    <div class="col s12 m3 right-align">
                        <input type="button" id="add-book" value="Add Book" style="margin-top: 24px" disabled class="btn btn-default"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-content">
                <div class="row">
                    <div class="col s12 m12">
                        <div class="card-title">
                            Create a new book
                        </div>
                    </div>
                        
                    <form id="new-book-form" data-parsley-validate="" novalidate>
                        <div class="row">
                            <div class="col s12 m6">
                                <input name="title" id="title" type="text" placeholder="Title"/>
                            </div>
                            <div class="col s12 m6">
                                <input name="isbn" id="isbn" placeholder="ISBN" required=""/>
                            </div>
                            <div class="col s12 m12">
                                <textarea name="description" id="description" class="materialize-textarea" placeholder="Description" data-length="250" data-parsley-maxlength="250"></textarea>
                            </div>
                            <div class="col s12 m6">
                                <input name="datePublished" id="datePublished" type="text" class="datepicker" placeholder="Date Published" required="">
                            </div>
                            <div class="col s12 m6">
                                <input type="number" id="stock" name="stock" placeholder="Stock" value="0"/>
                            </div>
                        </div>
                        <div class="col s12 m3 right-align">
                            <input type="submit" value="Add Book" style="margin-top: 24px" class="btn btn-default"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>