@model BookDto

@{
    ViewData["Title"] = @Model.Title;
}



<h4>Showing details for: @Model.Title</h4>

<h6>Authors of the book: </h6>

<table class="centered striped">
    <thead>
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var author in Model.Authors)
    {
        <tr>
            <td>@author.FirstName</td>
            <td>@author.LastName</td>
            <td>
                <a asp-action="Edit" asp-controller="Author" asp-route-id="@author.Id">Edit</a>
            </td>
        </tr>
    }
    </tbody>
</table>